params {

    // minimal parameters:
    pipeline_name       = 'nf_findMotifs'
    pipeline_version    = '1.0'
    pipeline_url        = 'https://github.com/ATpoint/nf_findMotifs'
    minimum_nfversion   = '21.04.3'

    target     = ''        // path to the foreground fasta files
    background = ''        // path to background fasta file(s). 
    species    = 'mouse'   // species, will then download mouse or human hocomoco Homer files
    threads    = 1         // threads for findMotifs.pl
    mem        = 8.GB      // memory
    outdir     = "./"      // output dir
    additional = ''        // additional params for findMotifs.pl
    split_at   = '_'       // unique delimiter of input files to get basenames from, must be same between \
                           // fore(background in case of --mode matched
    mode       = 'matched' // mode, either matched or single

    // container, environment, SLURM:
    container        = 'quay.io/biocontainers/homer:4.11--pl5262h7d875b9_5'
    environment      = "$baseDir/environment.yml"
    queue            = 'normal'          // SLURM queue on our HPC
    clusteroptions   = '--time=02:00:00' // other arguments when submitting to a cluster:

}

profiles {
    
    local {
        docker.enabled          = false
        singularity.enabled     = false
        conda.enabled           = false
    }

    docker {
        process.container       = params.container
        docker.enabled          = true        
    }

    singularity {
        process.container       = "docker://${params.container}"
        singularity.enabled     = true
        singularity.autoMounts  = true
    }

    conda {
        process.conda           = params.environment
        conda.enabled           = true
    }

    // example when using the SLURM scheduler, assuming a queue named "normal" and a runtime of 2h 
    slurm {
        process.executor        = 'slurm'
        process.queue           = params.queue
        process.clusterOptions  = params.clusteroption
    }

    // testing with multiple targets vs a single background:
    test_single {

        params.target     = "$baseDir/test/set*_targets.fa"
        params.background = "$baseDir/test/set1_background.fa"
        params.outdir     = "$baseDir/outdir_test"
        params.threads    = 1
        params.mem        = 1.GB

    }

    // testing, each target has its "personal" background:
    test_matched {

        params.target     = "$baseDir/test/set*_targets.fa"
        params.background = "$baseDir/test/set*_background.fa"
        params.outdir     = "$baseDir/outdir_test"
        params.threads    = 1
        params.mem        = 1.GB

    }

}
