profiles {
    
    docker {
        docker.enabled          = true        
    }

    singularity {
        singularity.enabled     = true
        singularity.autoMounts  = true
    }

    conda {
        conda.enabled           = true
    }

    test_single {
        params.target     = "$baseDir/test/set*_targets.fa"
        params.background = "$baseDir/test/set1_background.fa"
        params.outdir     = "$baseDir/outdir_test"
        params.threads    = 1
        params.mem        = '1.GB'
    }

    test_matched {
        params.target     = "$baseDir/test/set*_targets.fa"
        params.background = "$baseDir/test/set*_background.fa"
        params.outdir     = "$baseDir/outdir_test"
        params.threads    = 1
        params.mem        = '1.GB'
    }

}
