params.queue            = 'normal'          // SLURM queue on our HPC
params.clusteroptions   = '--time=02:00:00' // other arguments when submitting to a cluster:
params.container        = 'quay.io/biocontainers/homer:4.11--pl5262h7d875b9_5'

profiles {

    test_single {

        params.target     = "$baseDir/test/set*_targets.fa"
        params.background = "$baseDir/test/set1_background.fa"
        params.outdir     = "$baseDir/outdir_test"
        params.threads    = 1
        params.mem        = 1.GB

    }

    test_matched {

        params.target     = "$baseDir/test/set*_targets.fa"
        params.background = "$baseDir/test/set*_background.fa"
        params.outdir     = "$baseDir/outdir_test"
        params.threads    = 1
        params.mem        = 1.GB

    }

    local {
        docker.enabled          = false
        singularity.enabled     = false
        conda.enabled           = false
    }

    docker {
        process.container       = params.container
        docker.enabled          = true        
    }

    singularity {
        process.container       = "docker://${params.container}"
        singularity.enabled     = true
        singularity.autoMounts  = true
    }

    conda {
        process.conda           = "${baseDir}/environment.yml"
        conda.enabled           = true
    }

    slurm {
        process.executor        = 'slurm'
        process.queue           = params.queue
        process.clusterOptions  = "${params.clusteroptions}"
    }

}

//------------------------------------------------------------------------------------------
